.newCampaign {
  flex: 4;
}

.addCampaignForm {
  margin-top: 10px;
}

.addCampaignItem {
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.addCampaignItem>label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addCampaignItem>input {
  padding: 10px;
}

.addCampaignItem>select {
  padding: 10px;
}

.addCampaignButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}