<<<<<<< HEAD
.subscriptionsContainer{
    flex: 4;
=======
<<<<<<< HEAD
.manageAPI {
  flex: 4;
=======
.subscriptionsContainer{
    flex: 4;
>>>>>>> a2e6addc2ec0f1672fdc58b3ff06c41b35cf3257
>>>>>>> 3f1f2d45854cc9f07a7ad3717a058fbbf4f59f19
}